.top_header {
    width: 100%;
    background-color: rgb(140, 221, 239);
    color: black;
    font-size: 26px;
    font-weight: 600;
    font-family: 'cursive';
    text-align: center;
    justify-content: center;
    padding: 1%;
    
}